@import "base2";

.content {
    @include grid-row;

    #about-body {
        @include grid-column(7, $float:left);
    }

    #about-quotes {
        @include grid-column(5, $float:left);

        article {
            @include panel($bg:$primary-color);

            .member_img1 {
                float: left;
                margin-right: 1.2em;
            }

            .member_img2 {
                float: right;
                margin-right: 1.2em;
            }

            .about-quote {
                border-bottom: 0.05em solid;
            }
        }
    }
}
