@import "app";

#site-header {
    @include grid-row;

    #logo {
        @include grid-column(5, $float:left);
    }

    article#title-nav {
        @include grid-column(7, $float:left);

        .site-title {
            font-size: 10em;
            line-height: .7em;
            margin-bottom: .37em;
            text-align: right;
            text-transform: uppercase;
        }

        .nav-list {
            @include button-group-container;

            .nav-item {
                @include button($bg:$secondary-color, $full-width:true);
                @include inset-shadow;
                @include single-transition;

            }

            li {
                @include button-group-style($radius:true, $even:6);
            }
        }
    }
}


#site-footer {

    article {
        @include grid-column(4, $float:left);
    }

    #friends ul {
        @include inline-list;
    }
}