@import "base2";

#content {
    @include grid-row;

    aside#contact-info {
        @include grid-column(4, $float:left);
    }

    article#contact-body {
        @include grid-column(8, $float:left);

        figure.contact-img {
            @include grid-row($behavior:nest);

            img {
                margin-bottom: 1.2em;
            }

            img.contact-img1 {
                @include grid-column(5, $float:left);
            }

            img.contact-img2 {
                @include grid-column(7, $float:left);
            }
        }

        section#contact-copy {
            @include panel;
        }

        form {
            input[type=submit] {
                @include button($padding:$button-lrg, $is-input:true);
                float: right;
                margin-top: 1em;
            }
        }
    }
}