@import "base";

#news-slider {
    @include grid-row;

    img.slide {
        height: 400px;
        width: auto;
    }
}

#main-content {
    @include grid-row;

    #news {
        @include grid-column(3, $float:left);

        .news-post {
            img {
                float: left;
                margin-right: 1.2em;
            }

            p {
                text-align: left;
            }
        }
    }

    #recent-posts {
        @include grid-column(3, $float:left);

        article.post {
            @include panel;
        }
    }

    #events {
        @include grid-column(3, $float:left);

        ul#event-list {
            list-style: square;
        }
    }

    section#adspace {
        @include grid-column(3, $float:left);

        img.sidebar-ad {
            height: 200px;
            width: auto;
            margin-bottom: 0.5em;
        }

        a.buy-link {
            @include button($radius:8px);
        }
    }
}


#store-content {
    @include grid-row;

    article#store-highlight {
        @include grid-column(7, $float:left);
        padding-right: 0;
        padding-left: 0;

        section#new-items {
            .content > article {
                @include grid-row($behavior:nest);

                figure {
                    @include grid-column(4, $float:left);
                }
            }
        }

        section#top-selling-items {
            .content > article {
                @include grid-row($behavior:nest);

                figure {
                    @include grid-column(4, $float:left);
                }
            }
        }

        section#coming-soon-items {
            .content > article {
                @include grid-row($behavior:nest);

                figure {
                    @include grid-column(4, $float:left);
                }
            }
        }

        section#item-packages {
            .content > article {
                @include grid-row($behavior:nest);

                figure {
                    @include grid-column(4, $float:left);
                }
            }
        }
    }

    article#social-feed {
        @include grid-column(5, $float:right);

        padding-right: 0;
        padding-left: 0;

        .profile-pic {
            display: block;
            height: 60px;
            width: auto;
            float: left;
            margin-right: 1.2em;
        }

        section#twitter-feed {

            a.follow-btn {
                @include button($radius:5px);
            }

        }

        section#facebook-feed {

            a.like-btn {
                @include button($radius:5px);
            }
        }

        section#google-feed {

            a.circle-btn {
                @include button($radius:5px);
            }
        }
    }
}