@import "base";

#top-stories {
    @include grid-row;

    figure {
        @include grid-column(4);

        .main-top-img {
            float: left;
        }

        .top-img {
            float: left;
            clear: right;
            margin-left: 1em;
            margin-bottom: 1.5em;
        }
    }

    .blurb {
        @include grid-column(8);
    }

}

#main-content {
    @include grid-row;

    #latest-news {
        @include grid-column(4);

        .latest-news-story {
            @include panel;
        }
    }

    #indepth-reports {
        @include grid-column(4);

        .depth-report {

            h3 {
                display: inline;
            }

            h4.subheader {
                display: inline;
            }
        }
    }

    #new-releases {
        @include grid-column(4);

        .artist-release {
            @include panel;

            img {
                display: block;
                float: left;
                margin-right: 1em;
            }

            figcaption {

                h4 {
                    font-size: 1.4em;
                }

                .buy-link {
                    @include button;
                }
            }
        }
    }
}