@import "base";

body {
    @include grid-row;
}

aside#store-nav {
    @include grid-column(4, $float:left);

    .store-ad img {
        margin: 1.2em auto;
    }
}

section#store-content {
    @include grid-column(8, $float:left);

    article {
        @include grid-row($behavior:nest);

        figure {
            @include grid-column(6, $float:left);

            img {
                margin-bottom: 1.2em;
            }

            figcaption {
                @include panel;

                hgroup h1 {
                    background-color: $success-color;
                    color: #FFF;
                    display: inline;
                    float: left;
                    font-size: 5em;
                    text-align: left;
                    margin-right: 0em;
                    margin-bottom: 0.2em;
                    padding: 0.2em;
                    @include radius($radius:6px);
                }

                hgroup h2 {
                    margin-bottom: 0;
                }

                hgroup > h2, h3 {
                    text-align: left;
                }

                .add-to-cart {
                    @include button($padding:$button-lrg, $full-width:true);
                }
            }
        }
    }

    footer.store-nav {
        @include grid-row($behavior:nest);

        nav {
            @include grid-column(4, $offset:8, $float:left);

            .store-pag {
                @include pagination($center:true);
            }
        }
    }
}